:root{
--cor-primaria:00b7ff
--cor-segundaria:#110202;
--cor-fundo:#fd0000;
--cor-contraste:#00b7ff;
--cor-botao:lab(1.78% 5.5 1.94);
.tema-escuro{
    --cor-primaria:#183C6;
--cor-fundo:#110202;
--cor-botao:#ff5353;
}
}

body{
    max-width: 100vw;
}
header {
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    border: 5px solid #ff5353;
}

main {
    background-color: var(--cor-botao);
    color: var(--cor-primaria);
    margin: 0 auto;
    padding: 16px;
    display:flex;
    flex-wrap: wrap;
}

article {
     display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #183C63;
    margin: 16px;
    gap: 16px;
    padding: 16px;
    flex: 1 1 25%;
}

img {
    width: 80px;
    height: 80px;
}

.artigo-autor {
    font-weight: bold;
}