header{
             background-color: #000000;
             color:#FFFFFF;
             text-align: center;
             max-width: 800px;
             margin: 0 auto;
             padding: 16px;
             border: 5px solid #000000;
             
        }
        main{
            background-color:#FFFFFF;
            color:#020202;
            max-width: 800px;
             margin: 0 auto;
             padding: 16px;

        } 

        article{
     display: flex;;
        }
        <//head>
        
        img{
            width: 80px;
            height: 80px;
        }
        .artigo-autor{
         font-weight: bold;
        }